/** @format */

#container {
  width: 950px;
  height: 250px;
  display: flex;
  z-index: 999;
  top: 90px;
  position: relative;
  left: 22%;
  border-radius: 12px;
}
.col {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  top: 25px;
  background-color: transparent;
}
.btn {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-around;
  font-size: 20px;
  border: 2px solid salmon;
  cursor: pointer;
}

.col-two {
  height: 240px;
  width: 100%;
  color: white;
  border-radius: 20px;
  left: 10%;
  position: relative;
}

.image-sort {
  width: 300px;
  height: 200px;
  border-radius: 20px;

}
