/** @format */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  left: 0;
  top: 0;
  position: fixed;
  border-bottom: 1px solid white;
  z-index: 999;
}
nav {
  width: 50%;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
}
nav > ul > li {
  margin: 10.2px;
  padding: 0.5px;
}
.logo {
  margin-left: -90%;
  position: absolute;
}
.mode {
  margin-right: -30%;
}
.dark-mode{
  background-color: white;
}
